ion-content {
    background: #f7f7f7;
    font-size: 14px;
}
.label {
    color: #727272;
}
.sku_cabinet {
    overflow: visible;
    background: #f7f7f7;
    z-index: 10;
    padding: 5px;
    width: 100%;
    color: #323233;
    // font-size: 1.9vh;
    .top {
        border-bottom: 1px solid #ebebeb;
        background: #fff;
    }
    .title {
        padding: 0 10px;
        font-size: 14px;
    }
    .img-box {
        .thumbnail {
            border: 2px solid #db6f28 !important;
            display: block;
            width: 130px;
            height: 120px;
            float: none;
            margin-bottom: 0.5vh;
            margin-right: 1.3vh;
        }
        img {
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-right: 1px solid #ccc;
            width: 43.33px;
            height: 43px;
            float: left;
        }
        img:nth-child(2) {
            border-left: 1px solid #ccc;
        }
    }

    .img-box.pl-10 {
        img:not(:first-child) {
            border-left: 0 !important;
        }
        img:nth-child(2) {
            border-left: 1px solid #ccc !important;
        }
    }

    .content-box {
        width: calc(100% - 140px);
        flex-grow: 1;
        font-size: 14px;
        .red {
            color: #fc4343;
        }
    }
    .photo-box {
        li {
            width: 4vh;
            height: 4vh;
            float: left;
            margin-right: 0.5vh;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .photo-box::after {
        content: '';
        display: block;
        clear: both;
    }

    .mt-0 {
        margin-top: 0px !important;
    }
    .inspection_require,
    .sku-desc {
        padding: 0;
        margin-top: 10px;
        ion-row {
            border-top: 1px solid #f0f0f0;
            border-left: 1px solid #f0f0f0;
        }

        ion-col {
            color: #323232;
            font-size: 14px;
            border-right: 1px solid #f0f0f0;
        }
        ion-col.content {
            color: #5e5e5e;
        }
    }
    .desc {
        background: #f7f7f7;
        width: 100%;
        border-radius: 0 0 8px 8px;
        ion-grid {
            background: #fff;
        }
    }
    .desc-active {
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
    }
    .desc.pos-s {
        position: static !important;
    }
}
.pl-10 {
    padding-left: 10px !important;
}
.sku_cabinet.pos-r {
    position: relative;
    top: 0;
    left: 0;
}

.sc-ion-card-ios-h {
    margin-left: unset;
    margin-right: unset;
    margin-top: 0 !important;
    margin-bottom: 2vh !important;
    -webkit-margin-start: 0 !important;
    margin-inline-start: 0 !important;
    -webkit-margin-end: 0 !important;
    margin-inline-end: 0 !important;
}

ion-row:last-child {
    border-bottom: 1px solid #f0f0f0;
}

.danger {
    color: #fc4343 !important;
}

.danger-input {
    width: 100%;
    border-radius: 5px;
    outline: none;
    line-height: 16px;
    color: #5e5e5e;
    padding: 3px;
    height: 32px;
    border: 1px solid #f0f0f0;
}

.no-border-right {
    border-right: none !important;
}

.no-margin {
    margin: 0 !important;
    --padding-start: 0px;
    --padding-end: 5px;
}

.img-box.desc img {
    width: 25px !important;
    height: 25px !important;
    border-left: 1px solid #ccc;
}

.chinese_description {
    text-align: justify;
    color: #5e5e5e;
    text-indent: 2rem;
    background: #fff;
    padding-top: 25px;
    padding: 10px;
}

.no-border-top {
    border-top: 0 !important;
}

::ng-deep .custom-alert-box {
    --max-width: 450px !important;
    --height: 256px !important;
    .alert-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
}

.text-c{
    text-align: center !important;
}

.fw-bold{
    font-weight: bold;
}