.success{
    color: #000;
    color: #10dc60;
}

.danger{
    color: #fff;
    color: #f04141;    
}

.header{
    color: black;
}
ion-col img{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 2px;
}