<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>验货评价</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card mode="ios">
        <ion-card-header>
            <ion-card-title color="primary">验货列表</ion-card-title>
        </ion-card-header>

        <ion-item
            (click)="toDetail(item)"
            *ngFor="let item of list | async"
        >
            <div fxLayout="row" fxLayoutAlign="space-between center" class="w100">
                <div>{{item.factory_name}}</div>
                <ion-badge color="success" *ngIf="item.inspection_appraisement_id">已评价</ion-badge>
                <ion-badge color="danger" *ngIf="!item.inspection_appraisement_id">未评价</ion-badge>

                <div>{{item.apply_inspection_no}}</div>
            </div>
        </ion-item>
        <p *ngIf="!listLength" class="text-c ">暂无数据</p>
    </ion-card>
</ion-content>
