<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>验货评价</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar
        animated
        clearInput
        mode="ios"
        placeholder="输入工厂名检索"
        (ionChange)="filterFactory()"
        [(ngModel)]="getListParams.value"
    ></ion-searchbar>

    <ion-card mode="ios">
        <ion-card-header>
            <ion-card-title color="primary">验货列表</ion-card-title>
        </ion-card-header>
        <ion-button fill="clear" expand="full" *ngIf="!list || !list.length" (click)="ionViewWillEnter()"
            >重新获取</ion-button
        >

        <ion-item *ngFor="let item of list">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="w100">
                <div (click)="toDetail(item)">{{item.factory_name}}</div>
                <ion-badge color="success" *ngIf="item.inspection_appraisement_id">已评价</ion-badge>
                <ion-badge color="danger" *ngIf="!item.inspection_appraisement_id">未评价</ion-badge>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <div (click)="toDetail(item)">{{item.apply_inspection_no}}</div>
                    <ion-button
                        class="ml-20"
                        [hidden]="!item.inspection_appraisement_id"
                        size="small"
                        (click)="cancel(item)"
                        >取消评价</ion-button
                    >
                </div>
            </div>
        </ion-item>

        <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载"> </ion-infinite-scroll-content>
        </ion-infinite-scroll>
        <p *ngIf="!list.length" class="text-c ">暂无数据</p>
    </ion-card>
</ion-content>
