.title-first-item {
    border: 1px solid #ededed;
    color: rgb(138, 136, 136);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-align: center;
}
.title-first-item1 {
    font-weight: bold;
    background-color: #ededed;
}
.onSubmit {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
//ok
