.title-first-item {
    border: 1px solid #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-first-item1 {
    font-weight: bold;
    background-color: #ededed;
}
.onSubmit {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
//ok
