<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>数据统计</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">关闭</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-container">
    <div>
      <ion-item>
        <ion-card-title color="primary" class="card-title">数据统计</ion-card-title>
      </ion-item>
      <ion-card-content>
        <ion-grid>
          <!-- 表单验证 -->
          <form>
            <ion-row class="title">
              <ion-col align-self-center [size]="2" class="title-first-item title-first-item1">
                总箱数
              </ion-col>
              <ion-col align-self-center [size]="2" class="title-first-item title-first-item1">
                总产品数
              </ion-col>
              <ion-col align-self-center [size]="2" class="title-first-item title-first-item1">
                总净重
              </ion-col>
              <ion-col align-self-center [size]="3" class="title-first-item title-first-item1">
                总毛重
              </ion-col>
              <ion-col align-self-center [size]="3" class="title-first-item title-first-item1">
                总体积
              </ion-col>
            </ion-row>

            <ion-row class="title">
              <ion-col align-self-center [size]="2" class="title-first-item">
                {{data.arraying_container_num_total}}
              </ion-col>
              <ion-col align-self-center [size]="2" class="title-first-item">
                {{data.product_num_total}}
              </ion-col>
              <ion-col align-self-center [size]="2" class="title-first-item">
                {{data.net_weight_total}}
              </ion-col>
              <ion-col align-self-center [size]="3" class="title-first-item">
                {{data.gross_weight_total}}
              </ion-col>
              <ion-col align-self-center [size]="3" class="title-first-item">
                {{data.size_volume_total}}
              </ion-col>
            </ion-row>
            <ion-row class="title onSubmit">
              <ion-button class="ml-20" size="small" (click)="onSubmit()">确认排柜
              </ion-button>
            </ion-row>
          </form>
        </ion-grid>
      </ion-card-content>
    </div>
  </div>
</ion-content>