<ion-list>
    <div class="global-inspect-title pl-10">
        <p>自定义测试（可添加）</p>
    </div>
    <ion-item *ngFor="let item of _customTestArray; let i = index">
        <div class="w100" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="w-60"><!-- [class]="i === _customTestArray.length - 1 ? 'w-60' : 'w100'" -->
                <div>
                    <span class="preview mr-20">{{ item.name }}</span>
                    <input (blur)="onValueChange.emit(_customTestArray)" [(ngModel)]="item.name" placeholder="请填写或编辑测试字段名" class="text-l" />
                </div>  
                <app-photograph
                    [type]="'custom_test'"
                    moduleType="removeSkuPic"
                    [photos]="item.pic"
                    [contract_no]="contract_no"
                    [apply_inspection_no]="apply_inspection_no"
                    [sku]="sku"
                    [box_type]="box_type"
                    [sort_index]="i"
                ></app-photograph>
                <app-videotape
                    [type]="'custom_test'"
                    [videos]="item.videos"
                    [contract_no]="contract_no"
                    [apply_inspection_no]="apply_inspection_no"
                    [sku]="sku" 
                    [box_type]="box_type"
                    [sort_index]="i"
                ></app-videotape>
                <div class="test-feedback">
                    <div>
                        <div>
                         <app-item-by-item-desc
                                description="备注"
                                [ary]="item.desc"
                                (onComplete)="descEnter($event, i, box_type)"
                            >
                        </app-item-by-item-desc>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <ion-button size="small" [hidden]="i !== _customTestArray.length - 1" (click)="addCustomTest()">添加</ion-button>
            </div>

            
            <ion-button (click)="delete(i)" color='danger' size="small" [hidden]="_customTestArray.length === 1">删除</ion-button>
        </div>
    </ion-item>
</ion-list>