<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>验货任务</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let item of inspectGroup" mode="ios">
        <ion-item class="card-header">
            <ion-icon name="people" slot="start" color="primary"></ion-icon>
            <ion-label><span>质检员：</span>{{ item.user.join(",") }}</ion-label>
            <ion-label class="text-c"><span>验货批次号：</span>{{ item.inspection_group_no }}</ion-label>
        </ion-item>

        <ion-card-content>
            <ion-label class="text-r pl-5"
                >时间段： {{ (item.probable_inspection_date_range.start | date: "MM月-dd日") + " — " +
                (item.probable_inspection_date_range.end ? (item.probable_inspection_date_range.end | date: "MM月-dd日")
                : "") }}
            </ion-label>
            <ion-grid *ngIf="screenType == 'Vertical'">
                <ion-row class="title">
                    <ion-col align-self-center [size]="3.4">
                        验货流水号
                    </ion-col>
                    <ion-col align-self-center [size]="4.5">
                        验货工厂
                    </ion-col>
                    <ion-col align-self-center [size]="2.2">
                        验货SKU数
                    </ion-col>
                    <ion-col align-self-center [size]="1.7">
                        操作
                    </ion-col>
                </ion-row>

                <ion-row *ngFor="let sItem of item.apply_inspections">
                    <ion-col align-self-center [size]="3.4">
                        {{ sItem.data[0].apply_inspection_no }}
                    </ion-col>
                    <ion-col align-self-center [size]="4.5">
                        {{ sItem.factory_name }}
                    </ion-col>

                    <ion-col align-self-center [size]="2.2">
                        {{ sItem.sku_count }}
                    </ion-col>
                    <ion-col
                        align-self-center
                        [size]="1.7"
                        class="ion-col-no-pad"
                        fxLayout="row"
                        fxLayoutAlign="start center"
                    >
                        <ion-button fill="clear" size="small" (click)="toContract(sItem.data)">详情</ion-button>
                        <ion-button fill="clear" size="small" (click)="inspectOp(sItem,item)">验货员</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid *ngIf="screenType == 'Horizontal'">
                <ion-row class="title">
                    <ion-col align-self-center [size]="1.6">
                        验货流水号
                    </ion-col>
                    <ion-col align-self-center [size]="2.7">
                        验货工厂
                    </ion-col>
                    <ion-col align-self-center [size]="1.3">
                        工厂地址
                    </ion-col>
                    <ion-col align-self-center [size]="0.9">
                        最早时间
                    </ion-col>

                    <ion-col align-self-center [size]="1.3">
                        计划验货
                    </ion-col>

                    <ion-col align-self-center [size]=".9">
                        最晚验货
                    </ion-col>

                    <ion-col align-self-center [size]="0.8">
                        联系人
                    </ion-col>

                    <ion-col align-self-center [size]="1.35">
                        联系电话
                    </ion-col>

                    <ion-col align-self-center [size]="0.95">
                        操作
                    </ion-col>
                </ion-row>

                <ion-row *ngFor="let sItem of item.apply_inspections">
                    <ion-col align-self-center [size]="1.6">
                        {{ sItem.data[0].apply_inspection_no }}
                    </ion-col>
                    <ion-col align-self-center [size]="2.7">
                        {{ sItem.factory_name }}
                    </ion-col>
                    <ion-col align-self-center [size]="1.3">
                        {{ sItem.factory_address }}
                    </ion-col>

                    <ion-col align-self-center [size]="0.9">
                        {{ sItem.inspection_date.inspection_date | date: "MM-dd" }}
                    </ion-col>

                    <ion-col align-self-center [size]="1.3">
                        {{ (sItem.info.date.probable_inspection_date_start | date: "MM-dd") + " — " +
                        (sItem.info.date.probable_inspection_date_end ? (sItem.info.date.probable_inspection_date_end |
                        date: "MM-dd") : "") }}
                    </ion-col>

                    <ion-col align-self-center [size]=".9">
                        {{ sItem.early_estimated_loading_time | date: "MM-dd" }}
                    </ion-col>

                    <ion-col align-self-center [size]="0.8">
                        {{ sItem.data[0].factory_contacts }}
                    </ion-col>
                    <ion-col align-self-center [size]="1.35">
                        {{ sItem.data[0].mobil_phone ? sItem.data[0].mobil_phone : "暂无" }}
                    </ion-col>
                    <ion-col
                        align-self-center
                        [size]="0.95"
                        class="ion-col-no-pad"
                        fxLayout="row"
                        fxLayoutAlign="start start"
                    >
                        <ion-button fill="clear" size="small" (click)="toContract(sItem.data)">详情</ion-button>
                        <ion-button fill="clear" size="small" (click)="inspectOp(sItem,item)">验货员</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="正在加载"> </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <p *ngIf="!inspectGroup.length" class="text-c ">暂无数据</p>
</ion-content>
