.title-first-item {
  border: 1px solid #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(138, 136, 136);
}
.title-first-item1 {
  font-weight: bold;
  background-color: #ededed;
}
//ok
