<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>合同号</ion-title>

        <ion-buttons slot="end" class="tops">
            <ion-button (click)="showModal()" [disabled]="alreadyUpProgress">上传进度</ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-back-button defaultHref="/inspect-po" text="返回" color="white" mode="md"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <div class="w100">
                <div class="global-inspect-title">
                    <p>唛头(照相需六面)</p>
                </div>
                <app-photograph
                    type="outer_box_pic"
                    moduleType="removeSkuPic"
                    [photos]="[]"
                    [contract_no]=""
                    [apply_inspection_no]=""
                    [sku]=""
                    box_type="inner"
                ></app-photograph>
                <div class="desc-box">
                    <app-item-by-item-desc
                        description="备注"
                        [ary]=""
                        (onComplete)="descEnter($event, 'shippingMarks', 'inner')"
                    ></app-item-by-item-desc>
                </div>
            </div>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <div class="w100">
                <div class="global-inspect-title">
                    <p>配件箱尺寸（单位：CM）</p>
                </div>
                <div class="w100">
                    <ion-grid class="size-grid">
                        <ion-row align-items-center>
                            <ion-col size="6">尺寸</ion-col>
                            <ion-col size="6">照片上传</ion-col>
                        </ion-row>
                        <ion-row align-items-center>
                            <ion-col size="6">
                                <input type="number" placeholder="长" />
                            </ion-col>
                            <ion-col size="6">
                                <app-photograph
                                    type="size_pic_length"
                                    moduleType="removeSkuPic"
                                    [photos]=""
                                    [contract_no]=""
                                    [apply_inspection_no]=""
                                    [sku]=""
                                    box_type="inner"
                                ></app-photograph>
                            </ion-col>
                        </ion-row>
                        <ion-row align-items-center>
                            <ion-col size="6">
                                <input type="number" placeholder="宽" />
                            </ion-col>
                            <ion-col size="6">
                                <app-photograph
                                    type="size_pic_length"
                                    moduleType="removeSkuPic"
                                    [photos]=""
                                    [contract_no]=""
                                    [apply_inspection_no]=""
                                    [sku]=""
                                    box_type="inner"
                                ></app-photograph>
                            </ion-col>
                        </ion-row>
                        <ion-row align-items-center>
                            <ion-col size="6">
                                <input type="number" placeholder="高" />
                            </ion-col>
                            <ion-col size="6">
                                <app-photograph
                                    type="size_pic_length"
                                    moduleType="removeSkuPic"
                                    [photos]=""
                                    [contract_no]=""
                                    [apply_inspection_no]=""
                                    [sku]=""
                                    box_type="inner"
                                ></app-photograph>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
                <div class="desc-box">
                    <app-item-by-item-desc
                        description="备注"
                        [ary]=""
                        (onComplete)="descEnter($event, 'size', 'inner')"
                    ></app-item-by-item-desc>
                </div>
            </div>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <div class="w100">
                <div class="global-inspect-title">
                    <p>配件箱毛重(单位：KG)</p>
                </div>
                <input type="number" placeholder="输入毛重" />
                <app-photograph
                    type="outer_box_pic"
                    moduleType="removeSkuPic"
                    [photos]="[]"
                    [contract_no]=""
                    [apply_inspection_no]=""
                    [sku]=""
                    box_type="inner"
                ></app-photograph>
                <div class="desc-box">
                    <app-item-by-item-desc
                        description="备注"
                        [ary]=""
                        (onComplete)="descEnter($event, 'shippingMarks', 'inner')"
                    ></app-item-by-item-desc>
                </div>
            </div>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-item>
            <div class="w100">
                <div class="global-inspect-title">
                    <p>清单</p>
                </div>

                <ion-grid class="size-grid">
                    <ion-row align-items-center>
                        <ion-col size="3">配件编号</ion-col>
                        <ion-col size="5">中文名</ion-col>
                        <ion-col size="2">数量</ion-col>
                        <ion-col size="2">操作</ion-col>
                    </ion-row>
                    <ion-row align-items-center>
                        <ion-col size="3">32423423</ion-col>
                        <ion-col size="5">中文名</ion-col>
                        <ion-col size="2">3</ion-col>
                        <ion-col size="2">
                            <ion-button fill="clear" size="small" [routerLink]="['/inspect-check']">查验</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
