<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>最终列表详情</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="返回" color="white" mode="md"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios">
    <ion-item>
      <div>
        <ion-card-title color="primary">最终列表详情</ion-card-title>
      </div>
    </ion-item>
    <ion-card-content>
      <ion-grid>
        <!-- 第一行 -->
        <ion-row class="title">
          <ion-col align-self-center [size]="3" class="first-col">
            批次号 :
          </ion-col>
          <ion-col align-self-center [size]="6">
          </ion-col>
          <ion-col align-self-center [size]="3">
            <div>{{initObject.name?initObject.name:'暂无'}}</div>
          </ion-col>
        </ion-row>


        <ion-row class="title">
          <ion-col align-self-center [size]="3" class="first-col">
            合同号 :
          </ion-col>
          <ion-col align-self-center [size]="6">
          </ion-col>
          <ion-col align-self-center [size]="3" class="multiple-item">
            <div>{{initObject.currentItem.contract_no?initObject.currentItem.contract_no:'暂无'}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="title">
          <ion-col align-self-center [size]="3" class="first-col">
            合同抬头 :
          </ion-col>
          <ion-col align-self-center [size]="6">
          </ion-col>
          <ion-col align-self-center [size]="3" class="multiple-item">
            <div>{{initObject.currentItem.contract_title?initObject.currentItem.contract_title:'暂无'}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="title">
          <ion-col align-self-center [size]="3" class="first-col">
            SKU :
          </ion-col>
          <ion-col align-self-center [size]="6">
          </ion-col>
          <ion-col align-self-center [size]="3" class="multiple-item">
            <div>{{initObject.currentItem.sku?initObject.currentItem.sku:'暂无'}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="title">
          <ion-col align-self-center [size]="3" class="first-col">
            工厂名 :
          </ion-col>
          <ion-col align-self-center [size]="6">
          </ion-col>
          <ion-col align-self-center [size]="3" class="multiple-item">
            <div class="factory-name">{{initObject.currentItem.manufacturer?initObject.currentItem.manufacturer:'暂无'}}
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="title">
          <ion-col align-self-center [size]="3" class="first-col">
            工厂费用 :
          </ion-col>
          <ion-col align-self-center [size]="6">
          </ion-col>
          <ion-col align-self-center [size]="3" class="multiple-item">
            <div>{{initObject.currentItem.charges?initObject.currentItem.charges:'暂无'}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="title">
          <ion-col align-self-center [size]="3" class="first-col">
            工厂费用备注 :
          </ion-col>
          <ion-col align-self-center [size]="6">
          </ion-col>
          <ion-col align-self-center [size]="3" class="multiple-item">
            <div>{{initObject.currentItem.charges_desc?initObject.currentItem.charges_desc:'暂无'}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="title">
          <ion-col align-self-center [size]="3" class="first-col">
            计划装柜箱数 :
          </ion-col>
          <ion-col align-self-center [size]="6">
          </ion-col>
          <ion-col align-self-center [size]="3" class="multiple-item">
            <div>{{initObject.currentItem.arraying_container_num?initObject.currentItem.arraying_container_num:'暂无'}}
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="title">
          <ion-col align-self-center [size]="3" class="first-col">
            实际装柜箱数 :
          </ion-col>
          <ion-col align-self-center [size]="6">
          </ion-col>
          <ion-col align-self-center [size]="3" class="multiple-item">
            <div>
              {{initObject.currentItem.truly_arraying_container_num?initObject.currentItem.truly_arraying_container_num:'暂无'}}
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="title">
          <ion-col align-self-center [size]="3" class="first-col">
            联系电话 :
          </ion-col>
          <ion-col align-self-center [size]="6">
          </ion-col>
          <ion-col align-self-center [size]="3" class="multiple-item">
            <div>{{initObject.currentItem.mobil_phone?initObject.currentItem.mobil_phone:'暂无'}}</div>
          </ion-col>
        </ion-row>


        <ion-row class="title">
          <ion-col align-self-center [size]="3" class="first-col">
            跟单人 :
          </ion-col>
          <ion-col align-self-center [size]="6">
          </ion-col>
          <ion-col align-self-center [size]="3" class="multiple-item">
            <div>{{initObject.currentItem.schedule_user_name?initObject.currentItem.schedule_user_name:'暂无'}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="title">
          <ion-col align-self-center [size]="3" class="first-col">
            发货仓库 :
          </ion-col>
          <ion-col align-self-center [size]="6">
          </ion-col>
          <ion-col align-self-center [size]="3">
            <div>{{initObject.shipping_room?initObject.shipping_room:'暂无'}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="title">
          <ion-col align-self-center [size]="3" class="first-col">
            预计装柜日期 :
          </ion-col>
          <ion-col align-self-center [size]="6">
          </ion-col>
          <ion-col align-self-center [size]="3">
            <div>{{initObject.estimate_loading_time?initObject.estimate_loading_time:'暂无'}}</div>
          </ion-col>
        </ion-row>


        <ion-row class="title">
          <ion-col align-self-center [size]="3" class="first-col">
            提单号 :
          </ion-col>
          <ion-col align-self-center [size]="6">
          </ion-col>
          <ion-col align-self-center [size]="3">
            <div>{{initObject.bl_no?initObject.bl_no:'暂无'}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="title">
          <ion-col align-self-center [size]="3" class="first-col">
            柜号 :
          </ion-col>
          <ion-col align-self-center [size]="6">
          </ion-col>
          <ion-col align-self-center [size]="3">
            <div>{{initObject.container_no?initObject.container_no:'暂无'}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="title">
          <ion-col align-self-center [size]="3" class="first-col">
            铅封号 :
          </ion-col>
          <ion-col align-self-center [size]="6">
          </ion-col>
          <ion-col align-self-center [size]="3">
            <div>{{initObject.seal_no?initObject.seal_no:'暂无'}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="title">
          <ion-col align-self-center [size]="3" class="first-col">
            实际装柜日期 :
          </ion-col>
          <ion-col align-self-center [size]="6">
          </ion-col>
          <ion-col align-self-center [size]="3">
            <div>{{initObject.truely_loading_time?initObject.truely_loading_time:'暂无'}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="title">
          <ion-col align-self-center [size]="3" class="first-col">
            开船时间 :
          </ion-col>
          <ion-col align-self-center [size]="6">
          </ion-col>
          <ion-col align-self-center [size]="3">
            <div>{{initObject.on_board_date?initObject.on_board_date:'暂无'}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="title">
          <ion-col align-self-center [size]="3" class="first-col">
            预计到港时间 :
          </ion-col>
          <ion-col align-self-center [size]="6">
          </ion-col>
          <ion-col align-self-center [size]="3">
            <div>{{initObject.estimated_arrival_time?initObject.estimated_arrival_time:'暂无'}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>