<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>数据对比</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card mode="ios">
        <ion-card-header>
            <ion-card-title color="primary">SKU</ion-card-title>
        </ion-card-header>
        <ion-item class="high">
            <ion-label>选择工厂</ion-label>
            <select class="select" [(ngModel)]="currentFactory">
                <option value="">全部</option>
                <option *ngFor="let item of data" [value]="item.apply_inspection_no">{{item.factory_name}}</option>
            </select>
        </ion-item>

        <ion-button fill='clear' expand="full" *ngIf="!data || !data.length" (click)="ionViewWillEnter()">重新获取</ion-button>

        <ion-item *ngFor="let item of (data | dataCompare:currentFactory)" (click)="toDetail(item)">
            <ion-label>{{item.sku_chinese_name}}</ion-label>
            <ion-note slot="end">{{item.sku}}</ion-note>
        </ion-item>
        <p *ngIf="!data.length" class="text-c ">暂无数据</p>
    </ion-card>
</ion-content>
