<!-- 考察结果卡片视图区 start -->
<ion-card mode="ios">
  <ion-item class="card-header">
    <div class="header-container">
      <ion-card-title color="primary" class="card-title">考察结果</ion-card-title>
    </div>
  </ion-item>
  <ion-card-content>
    <ion-grid>
      <!-- 第一行 -->
      <ion-row class="title">
        <ion-col align-self-center [size]="3">
          是否谈到样品? :
        </ion-col>
        <ion-col align-self-center [size]="6">
        </ion-col>
        <ion-col align-self-center [size]="3">
          <!-- 下拉输入位置 -->
          <!-- 这里是下拉选择器   存在联动的效果-->
          <select [(ngModel)]="normal.have_sample" class="select" [disabled]="isDisabled"
            (ngModelChange)="selectChange1()">
            <option value=""></option>
            <option [value]="0">否</option>
            <option [value]="1">是</option>
          </select>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="normal.have_sample==='1'||normal.have_sample===1">
        <ion-col align-self-center [size]="3">
          是否愿意提供样品? :
        </ion-col>
        <ion-col align-self-center [size]="6">
        </ion-col>
        <ion-col align-self-center [size]="3" class="dateCol">
          <!-- 这里是下拉选择器   存在联动的效果-->
          <select [(ngModel)]="normal.will_supply" class="select" [disabled]="isDisabled"
            (ngModelChange)="selectChange2()">
            <option value=""></option>
            <option [value]="0">否</option>
            <option [value]="1">是</option>
          </select>
        </ion-col>
      </ion-row>

      <ion-row class="title"
        *ngIf="(normal.will_supply==='1'||normal.will_supply===1)&&(normal.have_sample=='1'||normal.have_sample==1)">
        <ion-col align-self-center [size]="3">
          样品费情况 :
        </ion-col>
        <ion-col align-self-center [size]="6">
        </ion-col>
        <ion-col align-self-center [size]="3">
          <ion-input type="text" class="ipt" clearInput="true" [disabled]="isDisabled" [(ngModel)]="normal.amount">
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="title"
        *ngIf="(normal.will_supply==='1'||normal.will_supply===1)&&(normal.have_sample=='1'||normal.have_sample==1)">
        <ion-col align-self-center [size]="3">
          样品准备时间 :
        </ion-col>
        <ion-col align-self-center [size]="6">
        </ion-col>
        <ion-col align-self-center [size]="3">
          <ion-input type="text" class="ipt" clearInput="true" [disabled]="isDisabled"
            [(ngModel)]="normal.readiness_time">
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="title"
        *ngIf="(normal.will_supply==='1'||normal.will_supply===1)&&(normal.have_sample=='1'||normal.have_sample==1)">
        <ion-col align-self-center [size]="3">
          付款情况 :
        </ion-col>
        <ion-col align-self-center [size]="6">
        </ion-col>
        <ion-col align-self-center [size]="3">
          <ion-input type="text" class="ipt" clearInput="true" [disabled]="isDisabled" [(ngModel)]="normal.payment">
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="title border-row"
        *ngIf="(normal.will_supply==='1'||normal.will_supply===1)&&(normal.have_sample=='1'||normal.have_sample==1)">
        <ion-col align-self-center [size]="3">
          样品间环境照片 :
        </ion-col>
        <ion-col align-self-center [size]="4">
        </ion-col>
        <ion-col align-self-center [size]="5">
          <app-photo-mini [type]="'sample_pic'" [photos]="sample_pic" [flagStatus]="flag">
          </app-photo-mini>
          <app-video-mini [type]="'inspect_showroom_video'" [videos]="showroom_video" [flagStatus]="flag">
          </app-video-mini>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card-content>
</ion-card>

<!-- 考察结果卡片视图区 end -->