<ul class="video-list " >
  <li *ngFor="let item of _videos" class="pos-r">
    <div class='video-name' appVideoPlayer [source]='item[0].fullPath' fxLayout="row" fxLayoutAlign="start center">
        <ion-icon name="videocam"></ion-icon>
        <span>{{item[0].name.length>14?item[0].name.substring(0,10)+ '…' + item[0].name.substring(11,12) + '.mp4':item[0].name}}</span>
    </div>
  </li>

  <li>
    <div
      class="add-image-small"
      fxLayout="row"
      (click)="videotape()"
      fxLayoutAlign="start center"
    >
      <ion-icon name="cloud-upload" mode="ios"></ion-icon>
      <p>拍摄视频</p>
    </div>
  </li>
</ul>
