<ion-app>
    <ion-split-pane>
        <ion-menu type="overlay" mode="ios" class="menu">
            <ion-header>
                <ion-toolbar>
                    <ion-title>鹰眼</ion-title>
                </ion-toolbar>
            </ion-header>

            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" *ngIf="p.type == 'link'">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{ p.title }}
                            </ion-label>
                        </ion-item>

                        <ion-item *ngIf="p.type == 'btn'" (click)="menuBtn(p)">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{ p.title }}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
