<ion-app>
    <ion-split-pane>
        <ion-menu type="overlay" mode="ios" class="menu">
            <ion-header>
                <ion-toolbar>
                    <ion-title>鹰眼</ion-title>
                </ion-toolbar>
            </ion-header>

            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]" *ngIf="p.type == 'link'">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{ p.title }}
                            </ion-label>
                        </ion-item>

                        <ion-item *ngIf="p.type == 'btn'" (click)="menuBtn(p)">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{ p.title }}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main> </ion-router-outlet>
    </ion-split-pane>
    <!-- <div style="position: fixed;top: 0; right: 0;z-index: 999;width: 50px;height: 56px;background: #f00;">
        <img src="../assets/img/slogan.png" alt="">
    </div> -->
  
    <div class="dis-flex" *ngIf="loading">
        <img src="../../assets/icon/loadding2.svg" alt="" />
        <ion-text>正在加载</ion-text>
    </div>
    <!-- 
    <div class="item load2 "  style="background-color:#0dcecb">
        <div class="loader">加载中...</div>
    </div>
     -->
</ion-app>
