<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>评价详情</ion-title>
        <ion-buttons slot="end">
            <ion-back-button text="返回" color="white" mode="md"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="evaluate-detail">
    <div class="factory-eval">
        <ion-card mode="ios" class="factory">
            <ion-card-header>
                <ion-card-title color="primary">工厂情况评价</ion-card-title>
            </ion-card-header>

            <ion-radio-group
                [(ngModel)]="data.inspection_cooperation_level"
                [value]="data.inspection_cooperation_level"
            >
                <ion-list-header>
                    <ion-label>1.验货配合度</ion-label>
                </ion-list-header>

                <ion-item>
                    <ion-label>高</ion-label>
                    <ion-radio slot="end" value="0" [checked]="data.inspection_cooperation_level == 0"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>一般</ion-label>
                    <ion-radio slot="end" value="1" [checked]="data.inspection_cooperation_level == 1"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>低</ion-label>
                    <ion-radio slot="end" value="2" [checked]="data.inspection_cooperation_level == 2"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-textarea
                        *ngIf="data.inspection_cooperation_level != 1"
                        [(ngModel)]="data.inspection_cooperation_level_desc"
                        placeholder="请描述具体表现"
                    ></ion-textarea>
                </ion-item>
            </ion-radio-group>

            <ion-radio-group>
                <ion-list-header>
                    <ion-label>2.工厂的仓储条件</ion-label>
                </ion-list-header>

                <ion-item *ngFor="let item of storage_condition_ary">
                    <ion-label>{{ item.key }}</ion-label>
                    <ion-checkbox [(ngModel)]="item.value"></ion-checkbox>
                </ion-item>

                <ion-item>
                    <ion-label>其他</ion-label>
                    <ion-checkbox [(ngModel)]="other"></ion-checkbox>
                </ion-item>

                <ion-item>
                    <ion-textarea
                        placeholder="请描述具体表现"
                        [(ngModel)]="data.storage_condition_desc"
                        *ngIf="other"
                    ></ion-textarea>
                </ion-item>
            </ion-radio-group>

            <ion-radio-group
                [(ngModel)]="data.storage_condition_appraisement"
                [value]="data.storage_condition_appraisement"
            >
                <ion-list-header>
                    <ion-label>3.工厂的仓储条件等级</ion-label>
                </ion-list-header>
                <ion-item>
                    <ion-label>优秀</ion-label>
                    <ion-radio slot="end" value="0" [checked]="data.storage_condition_appraisement == 0"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>一般</ion-label>
                    <ion-radio slot="end" value="1" [checked]="data.storage_condition_appraisement == 1"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>不合格</ion-label>
                    <ion-radio slot="end" value="2" [checked]="data.storage_condition_appraisement == 2"></ion-radio>
                </ion-item>
            </ion-radio-group>

            <ion-radio-group
                [(ngModel)]="data.remaining_storage_space_condition"
                [value]="data.remaining_storage_space_condition"
            >
                <ion-list-header>
                    <ion-label>4.剩余仓储情况</ion-label>
                </ion-list-header>

                <ion-item>
                    <ion-label>充足</ion-label>
                    <ion-radio slot="end" value="0" [checked]="data.remaining_storage_space_condition == 0"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>一般</ion-label>
                    <ion-radio slot="end" value="1" [checked]="data.remaining_storage_space_condition == 1"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>紧张</ion-label>
                    <ion-radio slot="end" value="2" [checked]="data.remaining_storage_space_condition == 2"></ion-radio>
                </ion-item>
            </ion-radio-group>

            <div>
                <div>
                    <ion-list-header>
                        <ion-label>5.工厂生产的主要产品类型</ion-label>
                    </ion-list-header>
                    <ion-textarea
                        class="textarea"
                        [(ngModel)]="data.production_type"
                        placeholder="请输入工厂生产的主要产品类型"
                    ></ion-textarea>
                </div>
                <div>
                    <ion-list-header>
                        <ion-label>6.工厂情况</ion-label>
                    </ion-list-header>
                    <ion-textarea
                        class="textarea"
                        [(ngModel)]="data.factory_situation"
                        placeholder="请输入工厂情况"
                    ></ion-textarea>
                </div>
            </div>
        </ion-card>
    </div>

    <div class="sku-eval">
        <ion-card mode="ios" class="factory">
            <ion-card-header>
                <ion-card-title color="primary">货号</ion-card-title>
            </ion-card-header>

            <ng-container *ngFor="let item of sku_appraisement; let i = index">
                <ion-radio-group (ionChange)="skuAppraisementChange($event, i)">
                    <ion-list-header>
                        <ion-label>{{ i + 1 + '.' + item.sku }}</ion-label>
                    </ion-list-header>

                    <ion-item>
                        <ion-label>通过</ion-label>
                        <ion-radio slot="end" value="0" [checked]="item.appraisement == 0"></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label>待定</ion-label>
                        <ion-radio slot="end" value="1" [checked]="item.appraisement == 1"></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label>不通过</ion-label>
                        <ion-radio slot="end" value="2" [checked]="item.appraisement == 2"></ion-radio>
                    </ion-item>
                </ion-radio-group>
            </ng-container>
        </ion-card>
    </div>

    <ion-button expand="block" (click)="submit()" class="mb-20">提交</ion-button>
</ion-content>
