<div class="root">
  <ion-list>
    <ion-item *ngIf="type == 'group'" >
      <ion-label>是否联系工厂：</ion-label>
      <ion-toggle color="primary" [(ngModel)]="_contract.is_contacked_factory"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="type == 'group'">
      <ion-label>是否购买车票：</ion-label>
      <ion-toggle color="primary" [(ngModel)]="_contract.is_bought_ticket"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="type == 'task'">
      <ion-label>验货工厂是否曾经验过：</ion-label>
      <ion-toggle color="primary" [(ngModel)]="_contract.is_inspected_factory"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="type == 'skuList'">
      <ion-label>验货产品是否曾经验过：</ion-label>
      <ion-toggle color="primary" [(ngModel)]="_contract.is_inspected_product"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="type == 'task'">
      <ion-label>是否规范好时间路线：</ion-label>
      <ion-toggle color="primary" [(ngModel)]="_contract.is_plan_date"></ion-toggle>
    </ion-item>

    <ion-item *ngIf="type == 'skuDetail'">
      <ion-label>是否熟悉要求：</ion-label>
      <ion-toggle color="primary" [(ngModel)]="_contract.is_know_demand"></ion-toggle>
    </ion-item>

  </ion-list>
</div>
<ion-button color='primary' (click)="enter()" >确定</ion-button>
