<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>报销单填写</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showModal()" size="small">上传进度</ion-button>
      <ion-back-button text="返回" color="white" mode="md"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 基本信息卡片视图区 start -->
  <ion-card mode="ios">
    <ion-item class="card-header">
      <ion-card-title color="primary" class="card-title">基本信息</ion-card-title>
    </ion-item>
    <ion-card-content>
      <ion-grid>
        <ion-row class="title">
          <ion-col align-self-center [size]="3">
            报销人 :
          </ion-col>
          <ion-col align-self-center [size]="2">
          </ion-col>
          <ion-col align-self-center [size]="7">
            {{originObj.reimbursement_name}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col align-self-center [size]="3">
            出差日期 <span class="star">*</span> :
          </ion-col>
          <ion-col align-self-center [size]="2">
          </ion-col>
          <ion-col align-self-center [size]="7" class="dateCol">
            <!-- 开始日期-->
            <div class="date-btn">
              <ion-datetime class="Formatdate" displayFormat="YYYY-MM-DD" doneText="完成" cancelText="取消" max="2050-12-30"
                placeholder="请输入开始日期" [(ngModel)]="originObj.travel_start_time" (ionChange)="startTimeChanged()">
                <!-- [disabled]="isDisabled" [(ngModel)]="normal.create_time"-->
              </ion-datetime>
              <div class="iconfont icon-ziyuan"></div>
            </div>

            <!-- 链接线 -->
            <div class="line"></div>
            <!-- 结束日期 -->
            <div class="date-btn">
              <ion-datetime class="Formatdate" displayFormat="YYYY-MM-DD" doneText="完成" cancelText="取消" max="2050-12-30"
                placeholder="请输入结束日期" [(ngModel)]="originObj.travel_end_time" (ionChange)="endTimeChanged()">
                <!-- [disabled]="isDisabled" [(ngModel)]="normal.create_time"-->
              </ion-datetime>
              <div class="iconfont icon-ziyuan"></div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="title">
          <ion-col align-self-center [size]="3">
            出差事由 <span class="star">*</span> :
          </ion-col>
          <ion-col align-self-center [size]="2">
          </ion-col>
          <ion-col align-self-center [size]="7">
            <!-- 下拉选择器 -->
            <select class="select" [(ngModel)]="originObj.travel_reason" (ngModelChange)="reasonChanged()">
              <option value=""></option>
              <option [value]="reasonIndex[i]" *ngFor="let item of reason;let i=index">{{item}}</option>
            </select>
          </ion-col>
        </ion-row>


        <ion-row class="title">
          <ion-col align-self-center [size]="3">
            流水号及工厂名 <span class="star">*</span> :
          </ion-col>
          <ion-col align-self-center [size]="2">
          </ion-col>
          <ion-col align-self-center [size]="7">
            <!-- 下拉选择器 这里可选择多个-->
            <select class="select" [(ngModel)]="factory_name_and_serial"
              (ngModelChange)="factory_name_and_serialSelectChange($event)">
              <option value=""></option>
              <option [value]="item.factory_name" *ngFor="let item of factoryArray">{{item.factory_name}}</option>
            </select>
          </ion-col>
        </ion-row>
        <!-- {{originObj.factory_name_and_serial|json}} -->

        <ion-row class="title" *ngIf="originObj.factory_name_and_serial.length" class="skuAndFactoryNameBOX">
          <div *ngFor="let item of originObj.factory_name_and_serial; let i=index" class="skuAndFactoryName">
            <div class="cha" (click)="removeClicked(i)">x</div>
            {{item}}
          </div>
        </ion-row>

        <ion-row class="title">
          <ion-col align-self-center [size]="3">
            差旅费类型 <span class="star">*</span> :
          </ion-col>
          <ion-col align-self-center [size]="2">
          </ion-col>
          <ion-col align-self-center [size]="7">
            <!-- 下拉选择器 联动选择-->
            <select class="select" [(ngModel)]="originObj.travel_type" [disabled]="true">
              <option value=""></option>
              <option [value]="1">普通</option>
              <option [value]="2">自驾</option>
            </select>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <!-- 以下内容条件渲染 -->
  <div class="normal" *ngIf="originObj.travel_type=='1'">
    <!-- 交通费 -->
    <ion-card mode="ios" *ngFor="let item of originObj.traffic_expense_list;let i=index">
      <ion-item class="card-header">
        <div class="card-header-item">
          <ion-card-title color="primary" class="card-title">交通费({{i+1}})</ion-card-title>
          <div class="btns-container">
            <ion-button class="ml-20 add" size="small" (click)="toAdd()"
              *ngIf="i==originObj.traffic_expense_list.length-1">
              增加+
            </ion-button>
            <ion-button class="ml-20" size="small" color="danger" (click)="deleteProduct(i,item.trans_expenses_no)">删除
            </ion-button>
          </div>
        </div>

      </ion-item>
      <ion-card-content>
        <ion-grid>
          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              交通工具 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <select class="select" [(ngModel)]="item.vehicle">
                <option value=""></option>
                <option [value]="vehicleIndex[i]" *ngFor="let item of vehicleArray;let i=index">{{item}}</option>

              </select>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col align-self-center [size]="3">
              出发地点 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" [(ngModel)]="item.departure_place"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col align-self-center [size]="3">
              到达地点 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" [(ngModel)]="item.arrival_place"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              出发时间 ：
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <div class="date-box">
                <ion-datetime
                  [class]="notAccord.includes(i)?'danger1 ng-untouched ng-pristine ng-valid ion-untouched ion-pristine ion-valid ios datetime-placeholder hydrated':'Formatdate ng-untouched ng-pristine ng-valid ion-untouched ion-pristine ion-valid ios datetime-placeholder hydrated'"
                  displayFormat="YYYY-MM-DD" doneText="完成" cancelText="取消" max="2050-12-30" placeholder="请输入出发日期"
                  [(ngModel)]="item.departure_time" (ionChange)="startTimeChanged1(i)">
                </ion-datetime>
                <div class="iconfont icon-ziyuan"></div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              到达时间 ：
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <div class="date-box">
                <ion-datetime
                  [class]="notAccord.includes(i)?'danger1 ng-untouched ng-pristine ng-valid ion-untouched ion-pristine ion-valid ios datetime-placeholder hydrated':'Formatdate ng-untouched ng-pristine ng-valid ion-untouched ion-pristine ion-valid ios datetime-placeholder hydrated'"
                  displayFormat="YYYY-MM-DD" doneText="完成" cancelText="取消" max="2050-12-30" placeholder="请输入到达时间"
                  [(ngModel)]="item.arrival_time" (ionChange)="endTimeChanged1(i)">
                </ion-datetime>
                <div class="iconfont icon-ziyuan"></div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              单据张数 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" type="number" [(ngModel)]="item.bill_num">
              </ion-input>
            </ion-col>
          </ion-row>


          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              金额(元) :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" type="number" [(ngModel)]="item.cost"
                (ionChange)="moneyChanged()"></ion-input>
            </ion-col>
          </ion-row>


          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              单据照片 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <app-photo-evection [photo]="item.hash_arr" [travel_id]="originObj.id"
                [travel_reimbursement_no]="originObj.travel_reimbursement_no" [type1]="'traffic_expense_pic'"
                [onlyOneNo]="item.trans_expenses_no" [index]="i">
              </app-photo-evection>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <!-- 当交通费没有了 -->
    <ion-card mode="ios" *ngIf="originObj.traffic_expense_list.length==0&&originObj.travel_type=='1'">
      <div class="content-box">
        <div class="noContent">当前没有交通费信息，点击添加进行添加</div>
        <div>
          <ion-button class="ml-20 add" size="small" (click)="toAdd()"> 增加+</ion-button>
        </div>
      </div>
    </ion-card>
    <!-- 住宿费 -->
    <ion-card mode="ios">
      <ion-item class="card-header">
        <div class="card-header-item">
          <ion-card-title color="primary" class="card-title">住宿费</ion-card-title>
        </div>
      </ion-item>
      <ion-card-content>
        <ion-grid>
          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              单据张数 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" type="number" [(ngModel)]="originObj.stay_bill_num">
              </ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              发票抬头 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <!-- 下拉选择器 -->
              <select class="select" [(ngModel)]="originObj.stay_invoice_title">
                <option value=""></option>
                <option [value]="item" *ngFor="let item of stay_invoice_title_params;let i=index">{{item}}</option>
              </select>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              金额(元) :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" type="number" [(ngModel)]="originObj.stay_cost"
                (ionChange)="moneyChanged()">
              </ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              单据照片 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <app-photo-evection [travel_id]="originObj.id"
                [travel_reimbursement_no]="originObj.travel_reimbursement_no" [type1]="'stay_bill_pic'"
                [photo]="originObj.stay_bill_pic">
              </app-photo-evection>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- 市内车费 -->
    <ion-card mode="ios">
      <ion-item class="card-header">
        <div class="card-header-item">
          <ion-card-title color="primary" class="card-title">市内车费</ion-card-title>
        </div>
      </ion-item>
      <ion-card-content>
        <ion-grid>
          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              单据张数 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" type="number" [(ngModel)]="originObj.city_bill_num">
              </ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              类型选择 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <!-- 下拉选择器 -->
              <select class="select" [(ngModel)]="originObj.city_cost_type">
                <option value=""></option>
                <option [value]="city_cost_type_paramsIndex[i]"
                  *ngFor="let item of city_cost_type_paramsArray;let i=index">{{item}}</option>
              </select>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              金额(元) :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" type="number" [(ngModel)]="originObj.city_cost"
                (ionChange)="moneyChanged()">
              </ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              单据照片 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <app-photo-evection [travel_id]="originObj.id"
                [travel_reimbursement_no]="originObj.travel_reimbursement_no" [type1]="'city_bill_pic'"
                [photo]="originObj.city_bill_pic">
              </app-photo-evection>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- 出差补贴车费 -->
    <ion-card mode="ios">
      <ion-item class="card-header">
        <div class="card-header-item">
          <ion-card-title color="primary" class="card-title">出差补贴</ion-card-title>
        </div>
      </ion-item>
      <ion-card-content>
        <ion-grid>
          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              天数 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" type="number" [(ngModel)]="originObj.travel_day_num">
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              金额(元) :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" type="number"
                [(ngModel)]="originObj.travel_subsidy_cost" (ionChange)="moneyChanged()"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>



    <!-- 出差补贴车费 -->
    <ion-card mode="ios">
      <div class="all_money">
        <div class="label">报销总额</div>
        <p class="money">{{originObj.travel_sum_cost?originObj.travel_sum_cost:0}}元</p>
      </div>
    </ion-card>
  </div>

  <div class="self-driving" *ngIf="originObj.travel_type=='2'">
    <!-- 油费 -->
    <ion-card mode="ios" *ngFor="let item of originObj.fuel_charge_list;let i=index">
      <ion-item class="card-header">
        <div class="card-header-item">
          <ion-card-title color="primary" class="card-title">油费({{i+1}})</ion-card-title>
          <div class="btns-container">
            <ion-button class="ml-20 add" size="small" (click)="toAdd1()"
              *ngIf="i==originObj.fuel_charge_list.length-1">
              增加+
            </ion-button>
            <ion-button class="ml-20" size="small" color="danger" (click)="deleteProduct1(i,item.trans_expenses_no)">删除
            </ion-button>
          </div>
        </div>

      </ion-item>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col align-self-center [size]="3">
              出发地点 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" [(ngModel)]="item.departure_place"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col align-self-center [size]="3">
              到达地点 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" [(ngModel)]="item.arrival_place"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              出发时间 ：
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <div class="date-box">
                <ion-datetime
                  [class]="notAccord.includes(i)?'danger1 ng-untouched ng-pristine ng-valid ion-untouched ion-pristine ion-valid ios datetime-placeholder hydrated':'Formatdate ng-untouched ng-pristine ng-valid ion-untouched ion-pristine ion-valid ios datetime-placeholder hydrated'"
                  displayFormat="YYYY-MM-DD" doneText="完成" cancelText="取消" max="2050-12-30" placeholder="请输入出发日期"
                  [(ngModel)]="item.departure_time" (ionChange)="startTimeChanged2(i)">
                </ion-datetime>
                <div class="iconfont icon-ziyuan"></div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              到达时间 ：
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <div class="date-box">
                <ion-datetime
                  [class]="notAccord.includes(i)?'danger1 ng-untouched ng-pristine ng-valid ion-untouched ion-pristine ion-valid ios datetime-placeholder hydrated':'Formatdate ng-untouched ng-pristine ng-valid ion-untouched ion-pristine ion-valid ios datetime-placeholder hydrated'"
                  displayFormat="YYYY-MM-DD" doneText="完成" cancelText="取消" max="2050-12-30" placeholder="请输入到达时间"
                  [(ngModel)]="item.arrival_time" (ionChange)="endTimeChanged2(i)">
                </ion-datetime>
                <div class="iconfont icon-ziyuan"></div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              公里数(理论) :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" type="number" [(ngModel)]="item.theory_miles">
              </ion-input>
            </ion-col>
          </ion-row>


          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              公里数(实际) :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" type="number" [(ngModel)]="item.actual_miles">
              </ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              金额(元) :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" type="number" [(ngModel)]="item.cost"
                (ionChange)="moneyChanged()"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              导航截图 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <app-photo-evection [travel_id]="originObj.id"
                [travel_reimbursement_no]="originObj.travel_reimbursement_no" [type1]="'fuel_charge_pic'"
                [photo]="item.hash_arr" [onlyOneNo]="item.trans_expenses_no" [index]="i">
              </app-photo-evection>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <!-- 当交通费没有了 -->
    <ion-card mode="ios" *ngIf="originObj.fuel_charge_list.length==0&&originObj.travel_type=='2'">
      <div class="content-box">
        <div class="noContent">当前没有油费信息，点击添加进行添加</div>
        <div>
          <ion-button class="ml-20 add" size="small" (click)="toAdd1()"> 增加+</ion-button>
        </div>
      </div>
    </ion-card>
    <!-- 过路费 -->
    <ion-card mode="ios">
      <ion-item class="card-header">
        <div class="card-header-item">
          <ion-card-title color="primary" class="card-title">过路费</ion-card-title>
        </div>
      </ion-item>
      <ion-card-content>
        <ion-grid>
          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              单据张数 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" type="number"
                [(ngModel)]="originObj.road_toll_bill_num"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              金额(元) :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" type="number" [(ngModel)]="originObj.road_toll_cost"
                (ionChange)="moneyChanged()">
              </ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              单据照片 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <app-photo-evection [travel_id]="originObj.id"
                [travel_reimbursement_no]="originObj.travel_reimbursement_no" [type1]="'road_toll_bill_pic'"
                [photo]="originObj.road_toll_bill_pic">
              </app-photo-evection>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- 停车费-->
    <ion-card mode="ios">
      <ion-item class="card-header">
        <div class="card-header-item">
          <ion-card-title color="primary" class="card-title">停车费</ion-card-title>
        </div>
      </ion-item>
      <ion-card-content>
        <ion-grid>
          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              单据张数 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" type="number"
                [(ngModel)]="originObj.parking_bill_num"></ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              金额(元) :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" type="number" [(ngModel)]="originObj.parking_cost"
                (ionChange)="moneyChanged()">
              </ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              单据照片 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <app-photo-evection [travel_id]="originObj.id"
                [travel_reimbursement_no]="originObj.travel_reimbursement_no" [type1]="'packing_bill_pic'"
                [photo]="originObj.packing_bill_pic">
              </app-photo-evection>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- 住宿费 -->
    <ion-card mode="ios">
      <ion-item class="card-header">
        <div class="card-header-item">
          <ion-card-title color="primary" class="card-title">住宿费</ion-card-title>
        </div>
      </ion-item>
      <ion-card-content>
        <ion-grid>
          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              单据张数 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" type="number" [(ngModel)]="originObj.stay_bill_num">
              </ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              发票抬头 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <!-- 下拉选择器 -->
              <select class="select" [(ngModel)]="originObj.stay_invoice_title">
                <option value=""></option>
                <option [value]="item" *ngFor="let item of stay_invoice_title_params;let i=index">{{item}}</option>
              </select>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              金额(元) :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" type="number" [(ngModel)]="originObj.stay_cost"
                (ionChange)="moneyChanged()">
              </ion-input>
            </ion-col>
          </ion-row>

          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              单据照片 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <app-photo-evection [travel_id]="originObj.id"
                [travel_reimbursement_no]="originObj.travel_reimbursement_no" [type1]="'stay_bill_pic'"
                [photo]="originObj.stay_bill_pic">
              </app-photo-evection>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- 出差补贴 -->
    <ion-card mode="ios">
      <ion-item class="card-header">
        <div class="card-header-item">
          <ion-card-title color="primary" class="card-title">出差补贴</ion-card-title>
        </div>
      </ion-item>
      <ion-card-content>
        <ion-grid>
          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              天数 :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" type="number" [(ngModel)]="originObj.travel_day_num">
              </ion-input>
            </ion-col>
          </ion-row>
          <ion-row class="title">
            <ion-col align-self-center [size]="3">
              金额(元) :
            </ion-col>
            <ion-col align-self-center [size]="2">
            </ion-col>
            <ion-col align-self-center [size]="7">
              <ion-input type="text" class="ipt" clearInput="true" type="number"
                [(ngModel)]="originObj.travel_subsidy_cost" (ionChange)="moneyChanged()"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- 总额 -->
    <ion-card mode="ios">
      <div class="all_money">
        <div class="label">报销总额</div>
        <p class="money">{{originObj.travel_sum_cost?originObj.travel_sum_cost:0}}元</p>
      </div>
    </ion-card>
  </div>
  <ion-button class="nextStepBtn" size="small" (click)="saveInformation()" [disabled]="disabled">
    提交
  </ion-button>
</ion-content>