.ipt {
    height: 20px;
    border: 1px solid rgb(230, 227, 227);
}
.noWrap {
    white-space: nowrap;
}
.bigipt {
    height: 30px;
}
.select {
    width: 100%;
    border: 1px solid rgb(230, 227, 227);
    // color: #ccc;
}
.border-row {
    border-top: 1px solid #ededed;
}
.star {
    color: #c00000;
}
.nextStepBtn {
    width: 99%;
    height: 30px;
    margin-left: 4px;
}
.third {
    height: 40px !important;
}
