<!-- 工厂基本信息卡片视图区 start-->
<ion-card mode="ios">
  <ion-item class="card-header">
    <ion-card-title color="primary" class="card-title">工厂概况</ion-card-title>
  </ion-item>
  <ion-card-content>
    <ion-grid>
      <ion-row class="title">
        <ion-col align-self-center [size]="3">
          工厂面积(m²)<span class="star">*</span> :
        </ion-col>
        <ion-col align-self-center [size]="6">
        </ion-col>
        <ion-col align-self-center [size]="3">
          <ion-input type="text" class="ipt" clearInput="true" [disabled]="isDisabled"
            [(ngModel)]="originObject.acreage" (ionBlur)="onBlur($event)"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="title">
        <ion-col align-self-center [size]="3">
          工厂人数<span class="star">*</span> :
        </ion-col>
        <ion-col align-self-center [size]="6">
        </ion-col>
        <ion-col align-self-center [size]="3">
          <ion-input type="text" class="ipt" clearInput="true" [disabled]="isDisabled"
            [(ngModel)]="originObject.people_num" (ionBlur)="onBlur1($event)"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="title">
        <ion-col align-self-center [size]="12">
          人员组成<span class="star">*</span> :
        </ion-col>
      </ion-row>
      <ion-row class="title">
        <ion-col align-self-center [size]="12">
          <ion-input type="text" class="ipt bigipt" clearInput="true" [disabled]="isDisabled"
            [(ngModel)]="originObject.manning"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="title">
        <ion-col align-self-center [size]="12">
          部门组成<span class="star">*</span> :
        </ion-col>
      </ion-row>
      <ion-row class="title">
        <ion-col align-self-center [size]="12">
          <ion-input type="text" class="ipt bigipt" clearInput="true" [disabled]="isDisabled"
            [(ngModel)]="originObject.department"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="title">
        <ion-col align-self-center [size]="3">
          生产设备<span class="star">*</span> :
        </ion-col>
        <ion-col align-self-center [size]="6">
        </ion-col>
        <ion-col align-self-center [size]="3">
          <ion-input type="text" class="ipt" clearInput="true" [disabled]="isDisabled"
            [(ngModel)]="originObject.production_equipment"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="title">
        <ion-col align-self-center [size]="3">
          生产能力<span class="star">*</span> :
        </ion-col>
        <ion-col align-self-center [size]="6">
        </ion-col>
        <ion-col align-self-center [size]="3">
          <!-- 下拉框 -->
          <!-- 这里是下拉选择器 -->
          <!-- <ion-select class="select" placeholder="请选择" okText="确认" cancelText="取消" [disabled]="isDisabled"
            [(ngModel)]="originObject.production_capacity">
            <ion-select-option [value]="1">好</ion-select-option>
            <ion-select-option [value]="2">一般</ion-select-option>
            <ion-select-option [value]="3">差</ion-select-option>
          </ion-select> -->
          <select [(ngModel)]="originObject.production_capacity" class="select" [disabled]="isDisabled">
            <option value=""></option>
            <option [value]="1">好</option>
            <option [value]="2">一般</option>
            <option [value]="3">差</option>
          </select>
        </ion-col>
      </ion-row>

      <ion-row class="title">
        <ion-col align-self-center [size]="3">
          研发&质检能力 :
        </ion-col>
        <ion-col align-self-center [size]="6">
        </ion-col>
        <ion-col align-self-center [size]="3">
          <!-- 下拉框 -->
          <select [(ngModel)]="normal.quality" class="select" [disabled]="isDisabled">
            <option value=""></option>
            <option [value]="1">好</option>
            <option [value]="2">一般</option>
            <option [value]="3">差</option>
          </select>
        </ion-col>
      </ion-row>

      <ion-row class="title">
        <ion-col align-self-center [size]="3">
          生产周期<span class="star">*</span> :
        </ion-col>
        <ion-col align-self-center [size]="6">
        </ion-col>
        <ion-col align-self-center [size]="3">
          <ion-input type="text" class="ipt" clearInput="true" [disabled]="isDisabled"
            [(ngModel)]="originObject.production_cycle">
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="title">
        <ion-col align-self-center [size]="3">
          主要销售市场<span class="star">*</span> :
        </ion-col>
        <ion-col align-self-center [size]="6">
        </ion-col>
        <ion-col align-self-center [size]="3">
          <ion-input type="text" class="ipt" clearInput="true" [disabled]="isDisabled"
            [(ngModel)]="originObject.sales_market"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="title">
        <ion-col align-self-center [size]="3">
          主要客户 :
        </ion-col>
        <ion-col align-self-center [size]="6">
        </ion-col>
        <ion-col align-self-center [size]="3">
          <ion-input type="text" class="ipt" clearInput="true" [disabled]="isDisabled" [(ngModel)]="normal.customer">
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="title">
        <ion-col align-self-center [size]="3">
          产品相关认证 :
        </ion-col>
        <ion-col align-self-center [size]="6">
        </ion-col>
        <ion-col align-self-center [size]="3">
          <ion-input type="text" class="ipt" clearInput="true" [disabled]="isDisabled"
            [(ngModel)]="normal.authentication">
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="title">
        <ion-col align-self-center [size]="3">
          工厂付款方式<span class="star">*</span> :
        </ion-col>
        <ion-col align-self-center [size]="6">
        </ion-col>
        <ion-col align-self-center [size]="3">
          <ion-input type="text" class="ipt" clearInput="true" [disabled]="isDisabled"
            [(ngModel)]="originObject.pay_type"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="title">
        <ion-col align-self-center [size]="3" class="noWrap">
          工厂是否接受过第三方验厂<span class="star">*</span> :
        </ion-col>
        <ion-col align-self-center [size]="6">
        </ion-col>
        <ion-col align-self-center [size]="3">
          <select [(ngModel)]="originObject.third_party" class="select" [disabled]="isDisabled"
            (ngModelChange)="selectChanged()">
            <option [value]=""></option>
            <option [value]="'0'">否</option>
            <option [value]="'1'">是</option>
          </select>
        </ion-col>
      </ion-row>

      <!-- 条件渲染 -->
      <ion-row class="title">
        <ion-col align-self-center [size]="12">
          <ion-input type="text" class="ipt third" [(ngModel)]="normal.third_name" placeholder="请输入第三方的名称"
            *ngIf="originObject.third_party==1" [disabled]="isDisabled">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="title">
        <ion-col align-self-center [size]="3">
          营业执照照片(三证合一) :
        </ion-col>
        <ion-col align-self-center [size]="6">
        </ion-col>
        <ion-col align-self-center [size]="3">
          <app-photo-mini [type]="'business_license_pic'" [photos]='business_license_pic'>
          </app-photo-mini>
        </ion-col>
      </ion-row>
      <ion-row class="title border-row">
        <ion-col align-self-center [size]="3">
          工厂外观照片<span class="star">*</span> :
        </ion-col>
        <ion-col align-self-center [size]="6">
        </ion-col>
        <ion-col align-self-center [size]="3">
          <app-photo-mini [type]="'facade_pic'" [photos]="facadePic">
          </app-photo-mini>
          <app-video-mini [type]="'inspect_facade_video'" [videos]="facade_video"></app-video-mini>
        </ion-col>
      </ion-row>

      <ion-row class="title border-row">
        <ion-col align-self-center [size]="3" class="noWrap">
          生产车间照片(设备，生产线等)<span class="star">*</span> :
        </ion-col>
        <ion-col align-self-center [size]="6">
        </ion-col>
        <ion-col align-self-center [size]="3">
          <app-photo-mini [type]="'plant_pic'" [photos]="plantPic">
          </app-photo-mini>
          <app-video-mini [type]="'inspect_plant_video'" [videos]="plant_video"></app-video-mini>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-card-content>
</ion-card>

<!-- 工厂基本信息卡片视图区 end-->