.ipt {
    height: 20px;
    border: 1px solid rgb(230, 227, 227);
}
.factoryAddress {
    position: relative;
}
.addFactoryAddress {
    font-size: 20px;
    position: absolute;
    right: -35px;
    top: -10px;
}
.dateCol {
    position: relative;
}
.icon-ziyuan {
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.Formatdate {
    border: 1px solid rgb(230, 227, 227);
}
.star {
    color: #c00000;
}
.nextStepBtn {
  width: 99%;
  height: 30px;
  margin-left: 4px;
}