<!-- 标题区域 -->
<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>出差报销</ion-title>
  </ion-toolbar>
</ion-header>

<!-- 内容区域 -->
<ion-content>
  <!-- 内容的头部区域 -->
  <ion-card mode="ios" class="card-container">
    <ion-card-header class="card-header">
      <ion-card-title color="primary" class="card-title">报销单列表</ion-card-title>
      <div class="search-btn-container">
        <!-- 开始日期-->
        <div class="date-btn">
          <ion-datetime class="Formatdate" displayFormat="YYYY-MM-DD" doneText="完成" cancelText="取消" max="2050-12-30"
            placeholder="请输入开始日期" (ionChange)="startTimeChanged()" [(ngModel)]="params.travel_start_time">
            <!-- [disabled]="isDisabled" [(ngModel)]="normal.create_time"-->
          </ion-datetime>
          <div class="iconfont icon-ziyuan"></div>
        </div>

        <!-- 链接线 -->
        <div class="line"></div>
        <!-- 结束日期 -->
        <div class="date-btn">
          <ion-datetime class="Formatdate" displayFormat="YYYY-MM-DD" doneText="完成" cancelText="取消" max="2050-12-30"
            placeholder="请输入结束日期" (ionChange)="endTimeChanged()" [(ngModel)]="params.travel_end_time">
            <!-- [disabled]="isDisabled" [(ngModel)]="normal.create_time"-->
          </ion-datetime>
          <div class="iconfont icon-ziyuan"></div>
        </div>


        <!-- 查询按钮 -->
        <div class="btns">
          <ion-button class="ml-20 search" size="small" (click)="toSearch()">查询</ion-button>
          <!-- <ion-button class="ml-20 reset" size="small" (click)="reset()">重置</ion-button> -->
          <ion-button class="ml-20 add" size="small" (click)="toAdd()">新增</ion-button>
        </div>

      </div>
    </ion-card-header>
    <!-- 内容的表格区域 -->
    <ion-grid>
      <!-- 表头区域 -->
      <ion-row class="title header-row">
        <ion-col align-self-center [size]="2" class="title-first-item">
          报销人
        </ion-col>
        <ion-col align-self-center [size]="2" class="title-first-item">
          报销总额(元)
        </ion-col>
        <ion-col align-self-center [size]="4" class="title-first-item">
          出差日期
        </ion-col>
        <ion-col align-self-center [size]="2" class="title-first-item">
          审批状态
        </ion-col>
        <ion-col align-self-center [size]="2" class="title-first-item">
          操作
        </ion-col>
      </ion-row>
      <!-- 表体区域 -->

      <ion-row class="row-body" *ngFor="let item of list">
        <ion-col align-self-center [size]="2" class="title-first-item">
          {{item.reimbursement_name?item.reimbursement_name:'暂无'}}
        </ion-col>
        <ion-col align-self-center [size]="2" class="title-first-item">
          {{item.travel_sum_cost?item.travel_sum_cost:'暂无'}}
        </ion-col>
        <ion-col align-self-center [size]="4" class="title-first-item">
          {{item.travel_date?item.travel_date:'暂无'}}
        </ion-col>
        <ion-col align-self-center [size]="2" class="title-first-item doing" *ngIf="item.approval_status=='审批中'">
          {{item.approval_status}}
        </ion-col>
        <ion-col align-self-center [size]="2" class="title-first-item pass" *ngIf="item.approval_status=='通过'">
          {{item.approval_status}}
        </ion-col>
        <ion-col align-self-center [size]="2" class="title-first-item nopass" *ngIf="item.approval_status=='未通过'">
          {{item.approval_status}}
        </ion-col>
        <ion-col align-self-center [size]="2" class="title-first-item">
          <div class="operation-container">
            <p class="operation-container-item" (click)="gotoDetails()">详情</p>
            <p class="operation-container-item" (click)="gotoCompile()">编辑</p>
          </div>
        </ion-col>
      </ion-row>


      <!-- <div *ngIf="!factoryList" class="noHaveData">暂无数据~</div> -->
    </ion-grid>

  </ion-card>

</ion-content>