<ul>
    <!-- <label>逐个添加备注</label> -->
    <li *ngFor="let item of data; let i = index">
        <p class="item " (click)="addDesc(i, 'modify')" [ngClass]="[item.level ? item.level: '']"  *ngIf="item.text">
            <span>{{ i }}</span>:
            <span>{{item.text }}</span>
        </p>
        <ion-button
            expand="block"
            color="medium"
            fill="solid"
            size="small"
            *ngIf="i == data.length - 1"
            (click)="addDesc(i, 'add')"
            >添加备注</ion-button
        >
    </li>
</ul>
