div {
    width: 100%;
    ion-textarea {
        border: 1px solid #e3e3e3;
        flex-grow: 1;
        font-size: 12px;
        color: #777777;
        border-radius: 5px;
        --padding-top: 5px;
        --padding-bottom: 5px;
        --padding-start: 5px;
        --padding-end: 5px;
    }
}

ul {
    background: #fbfbfb;
    border-radius: 5px;
    padding: 10px;
}

.item {
    font-size: 12px;
    padding: 3px 6px;
    text-align: justify;
    color: #777777;
    line-height: 10px;
}

label {
    font-size: 14px;
    color: #a2a2a2;
}

.important {
    color: red;
}

.second {
    color: orange;
}

.commonly {
    color: #777777;
}

span{
    line-height: 16px;
}