<ion-header mode="ios">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ data.factoryName }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="showModal()" [disabled]="alreadyUpProgress" size="small">上传进度</ion-button>
            <ion-back-button text="返回" color="white" mode="md"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list class="po-list">
        <ion-item *ngFor="let item of currentApplyInsData.contract_data">
            <!-- data.sku_data[0].contract_data -->
            <div class="wd-100">
                <div class="wd-100 po" fxLayout="row" fxLayoutAlign="space-between center">
                    <h4>{{ item.contract_no }}</h4>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <label>合同大货包装完成数量:</label>
                        <ion-input
                            class="complete-num"
                            placeholder="0"
                            [disabled]="true"
                            [(ngModel)]="item.inspection_complete_no"
                            type="number"
                        ></ion-input>
                    </div>
                </div>
                <!-- {{item.data | json}} -->
                <ol class="sku-list">
                    <li *ngFor="let sItem of item.data" fxLayout="column" fxLayoutAlign="start start">
                        <div fxLayout="row" fxLayoutAlign="space-between  center" class="wd-100">
                            <div fxLayout="row" fxLayoutAlign="start  center">
                                <img
                                    class="head"
                                    [src]="imgOrigin + sItem.pic[0]"
                                    alt=""
                                    imgGallery
                                    [url]="imgOrigin + sItem.pic[0]"
                                />
                                <div class="span-box">
                                    <span><span class="label"> SKU: </span>{{ sItem.sku }}</span
                                    ><br />
                                    <p class="lh-10">
                                        <span class="label">中文名： </span>
                                        {{ sItem.sku_chinese_name }}
                                    </p>
                                    <span class="label">申请验货数量：</span>
                                    {{ sItem.quantity }}
                                </div>
                            </div>

                            <div>
                                <ion-button
                                    size="small"
                                    class="f-r"
                                    expand="clear"
                                    color="primary"
                                    (click)="toInspectSku(item, sItem, 'go')"
                                    >去验货</ion-button
                                >
                                <ion-button class="f-r" size="small" color="primary" (click)="toInspectSku(item, sItem)"
                                    >保存</ion-button
                                >
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="input-item">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <label class="label">大货包装完成数量:</label>
                                <ion-input
                                    (ionChange)="calcMust($event, sItem, 'sku_package_complete_num')"
                                    placeholder="0"
                                    [max]="sItem.quantity"
                                    type="number"
                                    (ionChange)="regValid($event)"
                                    (ionBlur)="calcContractNum(item, sItem)"
                                    [(ngModel)]="sItem.sku_package_complete_num"
                                ></ion-input>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <label class="label">大货生产完成数量:</label>
                                <ion-input
                                    (ionChange)="calcMust($event, sItem, 'sku_production_complete_num')"
                                    placeholder="0"
                                    (ionChange)="regValid($event)"
                                    type="number"
                                    [(ngModel)]="sItem.sku_production_complete_num"
                                ></ion-input>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" class="input-item mt-5">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <label class="label">箱率（符合否）:</label>
                                <select [(ngModel)]="sItem.rate_res">
                                    <option value="">请选择</option>
                                    <option value="accord">符合</option>
                                    <option value="notAccord">不符合</option>
                                </select>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <label class="label">MADE IN CHINA 标识（符合否）:</label>
                                <select [(ngModel)]="sItem.made_in_china_res">
                                    <option value="">请选择</option>
                                    <option value="accord">符合</option>
                                    <option value="notAccord">不符合</option>
                                </select>
                            </div>
                        </div>

                        <div class="w100 mt-10">
                            <ion-button
                                class="f-r"
                                *ngIf="item.is_rework == '1'"
                                size="small"
                                expand="clear"
                                color="primary"
                                (click)="feedback(item, sItem)"
                                >问题描述</ion-button
                            >

                            <ion-button
                                class="f-r"
                                size="small"
                                color="primary"
                                *ngIf="item.has_accessory === 1"
                                (click)="toInspectPart(item,sItem)"
                            
                                >配件</ion-button
                            >
                            <!-- <ion-button class="f-r" size="small" color="danger" (click)="copy(item, sItem)"
                                >复制SKU</ion-button
                            > -->
                        </div>
                        <app-photograph
                            [disabled]="sItem.is_appraise"
                            errorInfo="已评价不能上传图片！"
                            moduleType="removeContractPic"
                            [photos]="sItem.implement_photo"
                            [contract_no]="item.contract_no"
                            [apply_inspection_no]="currentApplyInsData.apply_inspection_no"
                            [sku]="sItem.sku"
                            type="contract_sku_pic"
                        ></app-photograph>

                        <app-item-by-item-desc
                            class="wd-100"
                            description="备注"
                            [ary]="sItem.desc"
                            (onComplete)="descEnter($event, sItem)"
                        ></app-item-by-item-desc>
                    </li>
                </ol>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
