ion-content {
    --background: #fefefe;
    .inspect-list {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.06);
        li {
            opacity: 0;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100%;
        }
        .choice-item {
            right: 0 !important;
            top: 0;
        }

        .inspect-item {
            height: 196px;

            margin-top: -170px;
            left: 50%;
            margin-left: -140px;
            width: 280px;
            ion-card {
                width: 100%;
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 0;
                -webkit-margin-start: 0;
                margin-inline-start: 0;
                -webkit-margin-end: 0;
                margin-inline-end: 0;
                ion-card-header {
                    background: #fff;
                }
                ion-item {
                    width: 100%;
                    select {
                        color: #777;
                        padding: 6px;
                        width: 99%;
                        border-radius: 6px;
                        border-color: #cecece;
                    }
                    select:invalid {
                        color: red;
                    }
                }
            }
        }
        .inspect-item.first {
            top: 35%;
        }
        .inspect-item.last {
            top: 80%;
        }
        ion-item {
            --border-color: transparent;
        }
        .next {
            background: #fff;
            padding: 20px 0;
        }
        .next-btn {
            margin: 0 auto;
            width: 56px;
            height: 56px;
            color: #fff;
            font-size: 28px;
            text-align: center;
            line-height: 66px;
            border-radius: 100%;
            background-color: rgb(12, 209, 232);
        }
        .blue {
            background-color: rgb(152, 154, 162);
        }
        li.sku-panel {
            .top-bar {
                position: sticky;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 99;
                height: 100px;
                background: transparent;
            }
            .content {
                padding: 20px;
            }
        }
    }
    select,
    option {
        outline: none;
    }
}

.retrieval{
    border-bottom: 1px solid #dedede;
    font-size: 14px;
}