ion-textarea{
  border: 1px solid #e6e6e6;
  height: 90px;
}

.pd-15{
  padding: 15px;
}

ion-item{
  --border-width: 0 !important
}

ion-radio-group{
  div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin:12px;
    ion-label{
      margin-right: 6px;
    }
  }
}

h3{
  margin-bottom: 25px;
}

ion-button{
  float: right;
}
